<div class="home_container d-flex justify-content-center align-items-center">
  <p class="h1 mb-5">Edit task</p>
  <%= render 'form' %>
  <%= link_to 'Back', user_task_path(@user, @task), class: 'btn btn-secondary' %>
</div>
