<div class="home_container d-flex justify-content-center align-items-center">
  <p class="h1 mb-5">New User</p>
  <%= render 'edit_user_form' %>
  <%= link_to 'Back', admin_manage_users_path, class: 'btn btn-secondary' %>
</div>
