<div class="navbar_container">
  <p class="navbar_title">Ruby Manager</p>
  <div class="navbar_functions">
    <div class="navbar_left_functions">
      <%= link_to "New Task", new_user_task_path(@user), class: "btn navbar_new_task" %>
    </div>
    <div class="navbar_right_functions">
      <button class="btn navbar_Admin_mode">Admin Mode</button>
      <button class="btn navbar_Logout">Logout</button>
    </div>
  </div>
</div>
