<div class="login_container d-flex justify-content-center align-items-center">
  <p class="login_title">Ruby Manager</p>
  <div class="login_input_group">
    <div class="login_input_account">
      <p class="login_input_title">Account</p>
      <input class="form-control form-control-sm account" type="text"/>
    </div>
    <div class="login_input_password">
      <p class="login_input_title">Password</p>
      <input class="form-control form-control-sm password" type="password"/>
    </div>
  </div>
  <button type="button" class="btn login_login_button">Login</button>
</div>